

/* Changes from hsec 2015.0211 */
.panel > .panel-heading {
    color: #000;
    border-color: #fff;
    background-color: #fff;
    font-size: 20px;
    padding-left: 25px;
    padding-top: 20px;
    font-weight: bold;
    
    width: 100%;
    text-align: center;
}
body {
    font-family: 'customfont';
    font-size: 16px;
    line-height: 1.42857143;
    color: #FFF;
    background-color: #4d4d4d;
}

/*Search Relsut list entries*/
/*Sizing for all*/

.email-item-meta{
    font-size: 16px;
    text-align: right;
}

.scrollable{
    background-color:  #626161;
}
.email-item-from{
    font-size: 16px;
    font-weight: bold;
    word-wrap: break-word;
}

.email-item-subject{
    font-size: 16px;
}
/*default item*/

.email-item  .email-item-from{
    color: #000 !important;
}

.email-item .email-item-date{
    color:#116DB1;
}

.email-item .email-item-subject{
    color: #666;
}

#email-datails .highlighted,
.email-item .highlighted {
	color: #fff;
    background-color: #116DB1;
}




/*attachment*/
.glyphicon-paperclip {
    color: #116DB1
}

.email-item .glyphicon-paperclip {
    color: #116DB1
}

.email-item-selected .glyphicon-paperclip {
	color: #fff
}

/*selected*/
.email-item-selected {
    background-color:#116DB1 !important;
}

.email-item-selected .email-item-from{
    color: #fff;
}

.email-item-selected .email-item-subject{
    color:#fff;
}

.email-item-selected .email-item-from .highlighted,
.email-item-selected .email-item-subject .highlighted {
    background-color: #fff;
    color:#116DB1;
}


.email-item-selected .email-item-date{
    color:#fff;
}

/*new email item*/
.new-email-item{
    background-color: #fff !important;
}

.new-email-item .email-item-date{
    color:#116DB1;
}

.new-email-item .email-item-subject{
    color: #666;
}

.new-email-item .email-item-from .highlighted,
.new-email-item .email-item-subject .highlighted {
    background-color: #116DB1;
    color:#fff;
}


/*new email item selected*/
.new-email-item-selected {
    background-color:#116DB1 !important;
}

.new-email-item-selected .email-item-from{
    color: #fff !important;
}

.new-email-item-selected .email-item-subject{
    color:#fff;
}

.new-email-item-selected .email-item-from .highlighted,
.new-email-item-selected .email-item-subject .highlighted {
    background-color: #fff;
    color:#116DB1;
}


.new-email-item-selected .email-item-date{
    color:#fff;
}

.new-email-item  .glyphicon-paperclip {
    color: #116DB1
}

.new-email-item-selected .glyphicon-paperclip {
	color: #fff
}

.smart-search-menu{
    cursor: pointer;
}

#searchgroup .btn-default {
    color: #888;
}

.bb-search{
    padding:8px 0px;
    width: 85%;
}
@media(max-width:400px){
    
    .bb-search{
        padding:8px 0px;
        width: auto;
    }
}
@font-face {
    font-family: "customfont";
    src: url("../resources/font/Roboto-Medium.ttf") ; 
        /* Make sure you defined the correct path, which is related to
            the location of your file `my_css.css` */ 
}
body {
    font-family: "customfont";
    font-size:16px;
}
div li span button p h1 h2 form input iframe a{
    font-family: "customfont";
    font-size: 16px;
}

.hidden {
    visibility: hidden;
}

#navbar-row {
    padding-left: 5px !important;
    padding-right: 5px !important;
    background-color: #116DB1;
}

#head-label {
    float:left;
    color: #fff;
    font-size: 16px;
    padding:13px 8px 13px 0px;
    font-weight: 800;
}

#back-button{
    padding: 7px 0px 7px 0px;
    float:left;
    margin-right: 5px

}

#back-button span{
    color: #fff;
    font-size: 16px;
}

.archive-view-web {
    margin-top:51px;
    margin-bottom:50px;
}

#mailbox {
    margin-top:51px;
}

.mail-list {
    margin-bottom:60px;     
}

.scrollable {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.scrollableLeft {
    position: absolute !important;
    top: 0px;
    bottom: 0;
    left: 0;
    overflow-y: scroll; 
}

.scrollableRight{
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
}

#tableview-item-details{
    padding: 0px;
}
#tableview-item-list{
    padding: 0px;
}

#dev_directory li{
    padding-bottom: 5px;
    font-size: 16px;
}

.simple-badge{
    float:right;
}

#footer {
    text-align: center;
}

#footermenu {
    width:100%;
}
#footermenu button{
    width:100%;
}

#footermenu a{
    width:100% !important;
}

#footermenu div{
    padding: 5px;
}
#footermenu span {
    font-size: 25px;
}

#searchrange {
    width:100%;
    cursor: pointer;
}

.disabled-backbutton a span{
    color: #aaa;
}

.enabled-backbutton a span{
    color:#fff;
}

.backglyph{
    float: right;
    margin-top: 16px;
    opacity: 0.3;
    font-size: 1.5em;
}


#mailbody{
    width: 100%;
}

.animated-click-simple:active span{
    color:#bfd702;
}

button, .animated-click {
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

button:active, .animated-click:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

.front-back {
    color:#fff;
    padding-top:100px;
}

.front-title{
    text-align:center; 
    font-family: Arial; 
    font-size: 27px; 
    font-weight: normal;
}

.front-subtitle{
    text-align: center; 
    font-family: Arial; 
    padding-bottom: 10px; 
    padding-top: 10px; 
    font-size: 15px; 
    margin-top: -10px; 
    font-weight: normal;
}

.front-action{
    text-align:center; 
    font-family: Arial; 
    font-size: 15px; 
    font-weight: normal;
}

.front-image {
    display:block; 
    margin-left:auto; 
    margin-right:auto; 
    padding-top: 30px; 
    max-width:100%; 
    height:auto; 
    width: 50%;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0px auto;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin button {
    margin-top:10px;
}

.mainview {
    margin-top:15px;
}

#mail-detail-twopages {
    margin-top: 51px;
    padding-bottom: 50px;
}

.paddingbottom50 {
    padding-bottom: 50px;
}

.mail-list .list-group-item {
    cursor: pointer;   
}

#preferences {
    /* padding-bottom:60px; */
    background-color: #626161;
}
.container-fluid {
    background-color: #626161;
}
#mailbox-content{
    margin-top: 1px;
    background-color: #626161;
}
.btn-warning{
    background-color: #626161;
}
.log_img{
   
    /*padding: 6px 25px;*/
    height: 40px;
 	background-size: cover;
    border: 0px;
    content:url("../resources/img/logoblue.png");
}
.title{
    text-align: center;
    font-family: "customfont";
    /* font-size: 30px; */
}

.headerbar_title{
    margin-left: 0px;
	margin-right: 49px;
	text-align: center;
	vertical-align:middle;
	margin-top: 3px;    
}