@import url("init.css");
@import url("app.css");

@import url("../libs/bootstrap/dist/css/bootstrap.css");

@import url("../libs/bootstrap-daterangepicker/daterangepicker-bs3.css");


/*
.glyphicon-question-sign:before {
    content: "\e085";
}

.glyphicon-cog:before {
    content: '\e019';
}

.glyphicon-inbox:before {
    content: '\e028';
}

.glyphicon-floppy-disk:before {
    content: '\e092';
}
.glyphicon-remove:before {
    content: '\e014';
}

.glyphicon-search:before {
    content: '\e003';
}
.glyphicon-calendar:before {
    content: '\e109';
}

.glyphicon-paperclip:before {
    content: '\e142';
    color: #116DB1
}
*/

/*attachment*/

.glyphicon-question-sign:before {
    content: "\0075";
}
.glyphicon-cog:before {
    content: '\e037';
}
.glyphicon-inbox:before {
    content: '\e0ea';
}
.glyphicon-floppy-disk:before {
    content: '\e092';
}
.glyphicon-remove:before {
    content: '\004d';
}
.glyphicon-search:before {
    content: '\0055';
}
.glyphicon-calendar:before {
    content: '\e06b';
}
.glyphicon-paperclip:before {
    content: '\e016';
}
.glyphicon-chevron-left:before{
    content: '\0044';
}
.glyphicon-chevron-right:before{
    content: '\0045';
}
.glyphicon-user:before{
    content: '\e08a';
}

/*back*/

.glyphicon-chevron-left:before{
    content: '\e079';
}

.glyphicon-chevron-right:before{
    content: '\e080';
}

.glyphicon-user:before{
    content: '\e008';
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin-top: 0;
    
    font-size: 100%;
    font: inherit;
   
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}


* {
    
    box-sizing: border-box;
}
.bootstrap-switch {
    display: inline-block;
    direction: ltr;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid;
    border-color: #cccccc;
    position: relative;
    text-align: left;
    overflow: hidden;
    line-height: 8px;
    z-index: 0;
    -webkit-user-select: none;
    
    vertical-align: middle;
    
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap-switch .bootstrap-switch-container {
    display: inline-block;
    top: 0;
    border-radius: 4px;
   
    transform: translate3d(0, 0, 0);
}

.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
   
    transition: margin-left 0.5s;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    color: #fff;
    background: #116DB1;
}

.bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-handle-off {
    text-align: center;
    z-index: 1;
}

.bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-label {
    
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block !important;
    height: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px;
}

.bootstrap-switch .bootstrap-switch-label {
    text-align: center;
    margin-top: -1px;
    margin-bottom: -1px;
    z-index: 100;
    color: #333333;
    background: #ffffff;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    color: #000;
    background: #eeeeee;
}
.bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-handle-off {
    text-align: center;
    z-index: 1;
}

.bootstrap-switch input[type='radio'], .bootstrap-switch input[type='checkbox'] {
    position: absolute !important;
    top: 0;
    left: 0;
    opacity: 0;
    
    z-index: -1;
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
   
    line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    
}
/* END Changes from hsec 2015.0211 */
