<div  id="email-datails">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">  
                <div class="col-md-5">
                    {{#if isResendAllowed}}
                    <button style="width:100%" type="button" class="btn btn-primary" id="resendmail">
                        {{l10n '__mail.resend'}}
                    </button>
                    {{/if}}
                </div>
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-5">
                    {{#if isLocalDevice }}
                    <button style="width:100%" type="button" class="btn btn-primary" id="openmailclient">
                        {{l10n '__mail.open_local'}}
                    </button>
                    {{/if}}
                </div>

            </div>
        </li>
        <li class="list-group-item">
            <span class="simple-badge"><span class="glyphicon glyphicon-floppy-disk"></span> {{model.Size}} KB</span>
            <strong>{{l10n '__mail.date'}}: </strong>{{model.DateLocal}}                        
        </li>
        <li class="list-group-item item-header">
            <strong>{{l10n '__mail.from'}}: </strong> {{#if model.From_marked}}{{{model.From_marked}}}{{else}}{{model.From}}{{/if}}
        </li>
        <li class="list-group-item item-header">
            <strong>{{l10n '__mail.to'}}: </strong> {{#if model.To_marked}}{{{model.To_marked}}}{{else}}{{model.To}}{{/if}}
        </li>
        <li class="list-group-item item-header">
            <strong>{{l10n '__mail.subject'}}: </strong> {{#if model.Subject_marked}}{{{model.Subject_marked}}}{{else}}{{model.Subject}}{{/if}}
        </li>

        <li class="list-group-item item-header" id="attachments"></li>

        {{#if model.mailbody}}
        <li class="list-group-item">
            <div style="width:100%;overflow: scroll;-webkit-overflow-scrolling: touch;" id="mailbody-frame">
                <iframe id="mailbody" frameborder="0" ></iframe>
            </div>
        </li>
        {{/if}}
    </ul>                    
</div>


