<div class="container archive-view">
    <div class="row">
        <div class="front-back">

            <h1 class="front-title">
                {{l10n '__mail.no_emails_available'}}
            </h1>
            <img class="front-image" src="resources/img/Logo_transparent.png" alt="antispameurope Logo">        
        </div>	
    </div>
    <hr>

</div>