<div class="row">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8">
        <form>
            <div class="panel panel-info">

                <ul class="list-group">
                    <li class="list-group-item">
                        {{#if daterangepicker}}
                        <div class="row">   
                            <div class="col-xs-12">
                                <div class="controls">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span> 
                                        </span>
                                        <input class="form-control" readonly="readonly" type="text" name="searchrange" id="searchrange" value="{{searchrangevalue}}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="row">   
                            <div class="col-md-4">
                                <label>{{l10n '__search.fromdate'}}</label>  
                                <input type="date" class="form-control" id="fromDate" value="{{model.fromDate}}">
                            </div>
                            <div class="col-md-4">
                                <label>{{l10n '__search.todate'}}</label>
                                <input type="date" class="form-control"  id="toDate" value="{{model.toDate}}">
                            </div>
                        </div>
                        {{/if}}
                    </li>
                    <li class="list-group-item" {{#if model.body}} style="background-color: #eee" {{/if}}>
                        <label>{{l10n '__search.fulltext'}}</label>
                        <input type="text" class="form-control" id="body" value="{{model.body}}" >
                    </li>
                    <li class="list-group-item" {{#if model.from}} style="background-color: #eee" {{/if}}>
                        <label>{{l10n '__search.from'}}</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="mailfrom" value="{{model.from}}" >
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="autofill-from">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item" {{#if model.to}} style="background-color: #eee" {{/if}}>
                        <label>{{l10n '__search.to'}}</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="mailto" value="{{model.to}}" >
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="autofill-to">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item" {{#if model.subject}} style="background-color: #eee" {{/if}}>
                        <label>{{l10n '__search.subject'}}</label>
                        <input type="text" class="form-control" id="mailsubject" value="{{model.subject}}" >
                    </li>
                    <li class="list-group-item" {{#if model.attachment}} style="background-color: #eee" {{/if}}>
                        <label>{{l10n '__search.attachment_name'}}</label>
                        <input type="text" class="form-control" id="mailattachment" value="{{model.attachment}}" >
                    </li>
                    <li class="list-group-item">

                        <div class="row">   
                            <div class="col-sm-5">
                                <button style="width:100%" type="button" class="btn btn-warning" id="reset">{{l10n '__search.clearform'}}</button>
                            </div>
                            <div class="col-sm-2">&nbsp;</div>
                            <div class="col-sm-5">
                                <button style="width:100%" type="submit" class="btn btn-primary" id="go">{{l10n '__search.startsearch'}}</button>
                            </div>
                        </div>
                    </li>
                </ul>                    
            </div>
        </form>

    </div>
</div>