<p>{{#if linked}}
    <img src="resources/img/icons/{{icon}}.png"><a class="attachment" href="#" data-attachment="{{title}}">
        {{/if}}
        {{title}}
        {{#if linked}}
    </a>
    {{/if}}
</p>


