<div id="navbar-row" class="container-fluid">
    <div class="animated-click-simple" id="back-button" style="width: 100%;text-align: center;vertical-align:middle;">
        <div class = "logo_div" style="text-align: left;float: left;">
            <img style="height: 40px;" class="log_img">
        </div>
        <div class="headerbar_title">
            <span class="title" style="font-family: 'customfont';font-weight: bold;font-size: 25px;">{{l10n '__product.a_name'}}</span>
        </div>
    </div>
</div>

<div class="container mainview" id="help">
    <div class="row" >
        <div class="col-md-12" style="height:{{height}}px;" >
            <iframe src="resources/faq/en/faq.html" style="width:100%; height:100%;"><!--https://www.hornetsecurity.com/{{language}}/faq/{{appTitleLong}}-->
        </div>
    </div>
</div>

