<li class="list-group-item panel-footer" >
    {{#if noEmailsInCurrentYear}}
    <div class="title">{{l10n '__mail.no_email_in'}} {{currentUsedYear}}</div>
    {{/if}}
    <span class="title">
        {{count}} {{l10n '__mail.results'}} {{yearSring}}
        {{#key_value yearHistory}}
        <br>{{key}}: {{value}}
        {{/key_value}}
        
        {{#if nextpage}} 
        <br>
        <a class="more-items-link" href="#loadnextpage/{{nextpage}}" data-id="{{nextpage}}" id="loadnextpage" >
            {{#if moreResultsInCurrentYear}} {{l10n '__mail.more_available_in'}} 
            {{currentUsedYear}}
            {{else}} 
            {{l10n '__mail.more_available'}}
            {{/if}}
        </a>
        {{/if}}
    </span>
</li>

