<div class="scrollable archive-view-web scrollableLeft{{#if isWeb}} {{/if}}   {{col_xs_left}} col-sm-4 col-md-4 col-lg-4" id="tableview-item-list"></div>
<div class="scrollable archive-view-web scrollableRight{{#if isMobileTwoPages}} hidden {{/if}}  {{col_xs_right}} col-sm-8 col-md-8 col-lg-8" id="tableview-item-details"></div>
