<div class="navbar navbar-fixed-top navbar-inverse" id="header" role="navigation">
    <div id="navbar-row" class="container-fluid">
        <div class="animated-click-simple" id="back-button">
            <img style="height: 40px;" class="log_img">
        </div>

        <form>
            <div class="input-group bb-search {{bbsearchwidth}}" id="searchgroup" >
                <div class="input-group-btn" >
                    <div class="btn-group dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="searchmenubutton">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu smart-search-menu" role="menu" id="searchmenu">
                            <li role="presentation" class="dropdown-header">{{l10n '__search.smartsearch'}}</li>
                            <li role="presentation" class="disabled" id="from">
                                <a id="searchmenu-from" role="menuitem" href="#">
                                    <strong>{{l10n '__search.from'}}: </strong><span id="fromvalue"></span>
                                </a>
                            </li>
                            <li role="presentation" class="disabled" id="to">
                                <a id="searchmenu-to" role="menuitem"  href="#">
                                    <strong>{{l10n '__search.to'}}: </strong><span id="tovalue"></span>
                                </a>
                            </li>
                            <li role="presentation" class="disabled" id="subject">
                                <a id="searchmenu-subject" role="menuitem"  href="#">
                                    <strong>{{l10n '__search.subject'}}: </strong><span id="subjectvalue"></span>
                                </a>
                            </li>
                            <li role="presentation" class="disabled" id="attachment">
                                <a id="searchmenu-attachment" role="menuitem"  href="#">
                                    <strong>{{l10n '__search.attachment_name'}}: </strong><span id="attachmentvalue"></span>
                                </a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="" id="enhanced-search">
                                <a role="menuitem" href="#">{{l10n '__search.enhanchedsearch'}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <input maxlength="80" autocomplete="off" placeholder="{{l10n '__search.title'}}" type="search" class="form-control" id="simpleSearch">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" id="clearSearch">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="submit" class="btn btn-default" id="startSearch">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="{{container}} " id="mailbox">
    <div class="row" id="mailbox-content">
    </div>
</div>
