<li class="list-group-item {{cssClassName}}" id="{{model._id}}">
    {{#if arrowback}}<i class="backglyph glyphicon glyphicon-chevron-right"></i>{{/if}}
    <div class="email-item-meta">
        {{#if model.attachments }}    
        <span class="glyphicon glyphicon-paperclip"></span>
        {{/if}}
        <span class="email-item-date" >{{model.DateLocal_list}}</span>
    </div>
    <div class="email-item-from" data-id="{{model._id}}">
        {{#if incomingMail}}{{l10n '__mail.from'}}: {{else}}{{l10n '__mail.to'}}: {{/if}}
        {{{email}}} 
    </div>
    <div class="email-item-subject">
        {{#if model.Subject_marked}}{{{model.Subject_marked}}}{{else}} {{model.Subject}}{{/if}}
    </div>
</li>


