<div class="navbar navbar-fixed-top navbar-inverse" id="header" >
<div id="navbar-row" class="container-fluid" >
    <div class="animated-click-simple" id="back-button" style="width: 100%;text-align: center;vertical-align:middle;">
        <div  class = "logo_div" style="text-align: left;float: left;">
            <img style="height: 40px;" class="log_img">
        </div>
        <div class="headerbar_title">
            <span class="title" style="font-family: 'customfont';font-weight: bold;font-size: 25px;">{{l10n '__preferences.credentials_title'}}</span>
        </div>
    </div>
</div>
</div>
<div class="container mainview" id="preferences" style="position:fixed; left:0; right:0; top:80px;    height: 100%;
    padding-bottom: 200px;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel " id="logindata">
                <div class="panel-heading" style="font-family: 'customfont';font-weight: bold;font-size: 25px;color: #116DB1;">{{l10n '__preferences.credentials_title'}}</div>

                {{#if loggedinOrDemomode}} 
                <div class="form-signin">
                    <form class="form-signin" role="form" method="get" id='loginForm' action='index.html'>
                        {{#if isdemomode}}{{l10n '__preferences.demomode_msg'}}{{else}}{{username}}{{/if}}
                        <button style="width:100%" type="button" class="btn btn-danger" id="logout">{{l10n '__preferences.logout'}}</button>
                    </form>
                </div>
                {{else}}
                <form class="form-signin" role="form" method="get" id='loginForm' action='index.html'>
                    <input class="form-control" placeholder="{{l10n '__preferences.username'}}" type="email"  id="username_asemobile" value="{{username}}"> 
                    <input class="form-control" placeholder="{{l10n '__preferences.password'}}" type="password"  id="password_asemobile"  value="{{dummy}}">
                    <button style="width:100%" type="submit" class="btn btn-primary" id="authenticate">{{l10n '__preferences.login'}}</button>
                </form>
                {{/if}}
            </div>
            {{#if isdemomode}}
            {{else}}
            <div class="list-group">
                {{#if isArchive}}
                <div class="list-group-item"><input  type="checkbox" id="isdemomode"> {{l10n '__preferences.demomode'}}</div>
                {{#if loggedinOrDemomode}} 
                <div id="loggedinarea">
                    <div class="list-group-item"><input  type="checkbox" id="showlinksinemails"> {{l10n '__preferences.load_images_within_emails'}}</div>
                </div>
                {{/if}}
                {{/if}}
                {{#if isNotWebOnMobileDevice}}
                <div class="list-group-item"><input  type="checkbox" id="isprivatecomputer"> {{l10n '__preferences.privatecomputer'}}</div>
                {{/if}}
                <div class="list-group-item">Build: {{build_id}}</div>
            </div>
            {{/if}}
        </div>
    </div>
</div>