<div class="navbar navbar-fixed-top navbar-inverse" id="header" >
<div id="navbar-row" class="container-fluid" >
    <div class="animated-click-simple" id="back-button" style="width: 100%;text-align: center;vertical-align:middle;">
        <div  class = "logo_div" style="text-align: left;float: left;">
            <img style="height: 40px;" class="log_img">
        </div>
        <div class="headerbar_title">
            <span class="title" style="font-family: 'customfont';font-weight: bold;font-size: 25px;">{{l10n '__product.a_name'}}</span>
        </div>
    </div>
</div>
</div>
 <div class="container mainview" id="preferences" style="position:fixed; left:0; right:0; top:80px;    height: 100%;
    overflow-y: scroll;  
    padding-bottom: 200px;">

    
    <div class="row">
        <div class="col-md-12">
            <div class="panel" id="logindata">
                <div class="panel-heading" style="font-family: 'customfont';font-weight: bold;font-size: 25px;color: #116DB1;">{{l10n '__product.a_name'}}</div>

                <div class="table form-signin">
                    <form class="form-signin" role="form" method="get" id='loginForm'>

                        <input class="form-control" placeholder="{{l10n '__preferences.username'}}" type="email"  id="username_asemobile" value="{{username}}">
                        <input class="form-control" placeholder="{{l10n '__preferences.password'}}" type="password"  id="password_asemobile"  value="{{dummy}}">                    
                        <button style="width:100%" type="button" class="btn btn-primary" id="authenticate">{{l10n '__preferences.login'}}</button>
                        <button style="width:100%" type="button" class="btn btn-danger" id="clear">{{l10n '__preferences.remove_local_data'}}</button>
                    </form>
                </div>
            </div>

            <div class="list-group">
                <div class="list-group-item" style="font-family: 'customfont'; font-size: 18px;">                
                    <input type="checkbox" id="isdemomode" >&nbsp;{{l10n '__preferences.demomode'}}
                </div>
                <div class="list-group-item" style="font-family: 'customfont'; font-size: 18px;">                
                    <input type="checkbox" id="isprivatecomputer" >&nbsp;{{l10n '__preferences.privatecomputer'}}
                </div>
            
           
                    <!--<input type="checkbox" id="isprivatecomputer">{{l10n '__preferences.privatecomputer'}}-->
                {{#if loggedin}} 
                <div id="loggedinarea">
                    <div class="list-group-item" style="font-family: 'customfont'; font-size: 18px;"><input  type="checkbox" id="showlinksinemails" >&nbsp; {{l10n '__preferences.load_images_within_emails'}}</div>
                    <div class="list-group-item" style="font-family: 'customfont'; font-size: 18px;"><input  type="checkbox" id="isenhancedlogging">&nbsp; {{l10n '__preferences.enhancedlogging'}}</div>
                    <div class="list-group-item" style="font-family: 'customfont'; font-size: 18px;"><button type="button" class="btn btn-default" id="sendlog">&nbsp;{{l10n '__preferences.sendlog'}}</button></div>
                </div>
                {{/if}}
                <div class="list-group-item" style="font-family: 'customfont'; font-size: 18px;">Build: {{build_id}}</div>
            </div>
            </div>

        </div>
    </div>
    {{#if loggedin}} 


    {{/if}}

