<div class="container-fluid archive-view">
    <div class="row">
        <div class="front-back">

            <h1 class="front-title">
                {{l10n '__product.q_title'}}
            </h1>
            <h2 class="front-subtitle">
                {{l10n '__product.q_access'}}
            </h2>	
            <p class="front-action">
                {{l10n '__product.search'}}
            </p>
            <img class="front-image" src="resources/img/Logo_transparent.png" alt="antispameurope Logo">        
        </div>	


    </div>
</div>
