
<div id="mailbox" role="main" ></div>
<div id="preferences" role="main" ></div>
<div id="help" role="main" ></div>

{{#if showFooter}}
<div class="navbar navbar-default navbar-fixed-bottom" id="footer">
    <div class="container">
        <div id="footermenu">
            <div class="col-xs-{{footerbuttonwidth}}">
                <a id="mailbox-button" class="btn btn-default">
                    <span class="glyphicon glyphicon-{{#if isArchive}}inbox{{else}}warning-sign{{/if}}" id="mailbox-icon" ></span>
                </a>
            </div>
            <div class="col-xs-{{footerbuttonwidth}}">
                <a id="preferences-button" class="btn btn-default">
                    <span class="glyphicon glyphicon-cog" id="preferences-icon" ></span>
                </a>
            </div>
            <div class="col-xs-{{footerbuttonwidth}}">
                <a id="help-button" class="btn btn-default">
                    <span class="glyphicon glyphicon-question-sign" id="help-icon" ></span>
                </a>
            </div>
        </div>
    </div>
</div>
{{/if}}
