<div class="modal-dialog" style="padding:100px 0px">
    <div class="modal-content">
        <div class="modal-header ">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{l10n title}}</h4>
        </div>
        <div class="modal-body" id="description">
            {{l10n description}}
        </div>
        <div class="modal-footer">
            {{#if action}}<button type="button" class="btn btn-primary" data-dismiss="modal">{{l10n action}}</button>{{/if}}
            {{#if no}}<button type="button" class="btn btn-primary" data-dismiss="modal">{{l10n no}}</button>{{/if}}
            {{#if yes}}<button type="button" class="btn btn-default" data-dismiss="modal" id ="btnYes">{{l10n yes}}</button>{{/if}}
            
        </div>
    </div>
</div>
