<div class="modal-dialog" style="padding:100px 0px">
    <div class="modal-content">
        <div class="modal-header">
            <h1>{{#if title}} {{l10n title}} {{/if}}</h1>
        </div>
        <div class="modal-body">
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>            
        </div>
        {{#if actionTitle}}
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="action">{{l10n actionTitle}}</button>
        </div>
        {{/if}}
    </div>
</div>