@brand-primary:         #12aaff;
//** Background color for `<body>`.
@body-bg:               @gray-lighter;
//** Global text color on `<body>`.

@text-color:            @gray-darker;

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;


@navbar-default-color:             @brand-primary;
@navbar-default-link-color:        @brand-primary;
@navbar-default-link-hover-color:  darken(@brand-primary, 16.5%);

@navbar-default-link-active-color: lighten(@brand-primary, 16.5%);
@navbar-default-link-active-bg:    darken(@brand-primary, 16.5%);

@navbar-default-bg:                #fff;
@navbar-default-brand-color:      @navbar-default-link-color;
