@brand-primary: #116DB1;

@brand-warning:#4d4d4d;

@link-hover-color: #7BA216;
@input-border-focus: #66AFE9;

@navbar-inverse-bg: #4d4d4d;
@navbar-inverse-border: #4d4d4d;
@body-bg: #4d4d4d;

@input-bg : #fff;

/*@border-radius-base: 0px;
@border-radius-large: 0px;
@border-radius-small: 0px;*/

